.ModalHeader{
    width: calc(100% - 20px);
    padding: 0px 10px 0px 10px;
}

.ModalBody{
    width: calc(100% - 20px);
    border: 2px solid #703b09;
    border-left: 0px;
    border-right: 0px;
    padding: 0px 10px 0px 10px;
}

.ModalFooter{
    width: calc(100% - 20px);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  